<%= render 'navigation' %>
             	<div class="panel panel-primary">
             	                            <div class="panel-heading">
             	                               Student Finance
             	                            </div>
             	                            <div class="panel-body">
             	                    <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                
                                                <td>Total fee</td>
                                                <td>50,000/=</td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Paid</td>
                                                <td>24,000/=</td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Balance</td>
                                                <td>26,000/=</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
             	                            </div>
             	                            <div class="panel-footer text-center">
             	                               Iris University
             	                            </div>
             	                        </div>
             </div>
	</div>
</div>