<%= render 'navigation' %>
             	<div class="panel panel-primary">
             	                            <div class="panel-heading">
             	                               Student Profile
             	                            </div>
             	                            <div class="panel-body">
             	                            		                    <div class="table-responsive">
             	                            	                       <table class="table">
             	                            	                           <tbody>
             	                            	                               <tr>
             	                            	                                   
             	                            	                                   <td>Name:</td>
             	                            	                                   <td>Tatiana Manois</td>
             	                            	                               </tr>
             	                            	                               <tr>
             	                            	                                   
             	                            	                                   <td>Course: </td>
             	                            	                                   <td>Education</td>
             	                            	                               </tr>
             	                            	                               <tr>
             	                            	                                   
             	                            	                                   <td>Year of study: </td>
             	                            	                                   <td>Y2S2</td>
             	                            	                               </tr>
             	                            	                                 <tr>
             	                            	                                   
             	                            	                                   <td>phone: </td>
             	                            	                                   <td>+254 712 345 678</td>
             	                            	                               </tr>
             	                            	                           </tbody> 
             	                            	                       </table>
             	                            	                   </div>
             	                            </div>
             	                            <div class="panel-footer text-center">
             	                               Iris University
             	                            </div>
             	                        </div>
             </div>
	</div>
</div>