<!DOCTYPE html>
<html>
  <head>
    <title>Iris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
      		
           <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
           <script type="text/javascript" src="/assets/jquery.min.js"></script>
           <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
               <script type="text/javascript" src="/assets/jquery.easing.js"></script> 
               <script type="text/javascript" src="/assets/imagesloaded.min.js"></script>
               <script type="text/javascript" src="/assets/jquery.isotope.min.js"></script>
               <script type="text/javascript" src="/assets/owl.carousel.js"></script> 
               <script type="text/javascript" src="/assets/jquery.mb.YTPlayer.js"></script>    
               <script type="text/javascript" src="/assets/jquery-waypoints.js"></script>
               <script type="text/javascript" src="/assets/jquery.flexslider-min.js"></script>     
               <script type="text/javascript" src="/assets/jquery.cookie.js"></script>
               <script type="text/javascript" src="/assets/jquery.fitvids.js"></script> 
               <script type="text/javascript" src="/assets/jquery-validate.js"></script>
               <script type="text/javascript" src="/assets/jquery.magnific-popup.min.js"></script> 
               <script type="text/javascript" src="/assets/parallax.js"></script>
               <script type="text/javascript" src="/assets/jquery.countdown.js"></script>
               <script type="text/javascript" src="/assets/switcher.js"></script>
               <script type="text/javascript" src="/assets/jquery.sticky.js"></script>   
               <script type="text/javascript" src="/assets/smoothscroll.js"></script>
               <script type="text/javascript" src="/assets/main.js"></script>

               <!-- Revolution Slider -->
               <script type="text/javascript" src="/assets/jquery.themepunch.tools.min.js"></script>
               <script type="text/javascript" src="/assets/jquery.themepunch.revolution.min.js"></script>
               <script type="text/javascript" src="/assets/slider.js"></script>


  </head>

 <body class="header-sticky"> 
    <%= yield %>
  </body>
</html>